*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --cellSize: 8em;
    --cellContentSize: calc(var(--cellSize)*0.9);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#container{
    display: grid;
    grid-template: repeat(3,auto)/repeat(3,auto);
}
.cell{
    width: var(--cellSize);
    height: var(--cellSize);
    border: 2px solid olive;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:last-child, .cell:nth-child(7), .cell:nth-child(8){
    border-bottom: none;
}

/*display the content if that class*/

.cell.x::before, 
.cell.x::after{
    content: '';
    height: var(--cellContentSize);
    width: calc(var(--cellContentSize)*0.2);
    background-color: teal;
    position: absolute;
}
.cell.x::after{
    transform: rotate(45deg);
}
.cell.x::before{
    transform: rotate(-45deg);
}

.cell.circle::before, .cell.circle::after{
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.circle::before{
    height: var(--cellContentSize);
    width: var(--cellContentSize);
    background-color:indianred;
}

.cell.circle::after{
    height: calc(var(--cellContentSize)*0.7);
    width: calc(var(--cellContentSize)*0.7); 
    background-color: white; 
}