/*INTRO PAGE*/
body{
    position: relative;
}
section#introPage{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: black;

    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    
    background: url(./Img/Rick_and_morty_monster.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;  
}



main{
    grid-row: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/*Character container*/
main>section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1em;
    border: 2px solid lightgreen;
}
main>section>div{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #0FFF50;
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    justify-content: stretch;
    align-items:stretch;
    gap: 2em 1em;
}
main>section>button{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 1em 4em;
    font-size: 2em;
    font-weight: 700;
    font-family: sans-serif;
}

div.character{
    width: 10em;
    height: 10em;
    background-color: cadetblue;
}

/*Fill the containers with items*/
div.character#rick{
    background: url(./Img/rick.png);
    background-repeat: no-repeat;
    background-size: contain;
}
div.character#morty{
    background: url(./Img/morty.png);
    background-repeat: no-repeat;
    background-size: contain;
}
div.character#turkeyObama{
    background: url(./Img/turkeyObama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}