/*INTRO PAGE*/
body{
    position: relative;
}
section#introPage{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: black;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    
    background: url(./Img/Rick_and_morty_monster.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;  
}



main{
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

main>section#rick{
    grid-column: 1;
    
}

main>section#others{
    grid-column: 2;
    
}

div#allcharacters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2em;
}

div.character{
    width: 50px;
    height: 50px;
}